<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- UltraWebGridUpgradeBrowsers key: Specify comma separated list of browsers 
         Browsers can be specified either by passing the browser class such as "Chrome" or 
         specific major-versions such as "Chrome22". In the example below, pages rendering on 
         all versions of Chrome will be patched, where as only version 16 of Firefox 
         will be patched.
         
         The browser name and name-with-versions can be found on the server by examining the
         values of Request.Browser.Browser and Request.Browser.Type respecively.

         Example:
            <add key="UltraWebGridUpgradeBrowsers" value="Chrome,Firefox16"/>
    -->
    <add key="UltraWebGridUpgradeBrowsers" value="chrome"/>
  </appSettings>
  <system.web>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <!--Infragistics Controls-->
        <add tagPrefix="igtbl" assembly="Infragistics.WebUI.UltraWebGrid" namespace="Infragistics.WebUI.UltraWebGrid" />
      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <!--Infragistics Assemblies-->
        <add assembly="Infragistics.WebUI.UltraWebGrid, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb" />
      </assemblies>
    </compilation>
  </system.web>
</configuration>